services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3030:3000"
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run start:dev

  db:
    image: postgres
    container_name: simplicity-postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "myp@ssw0rd"
    ports:
      - "15432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data: